;;^{:ring-handler hello-world.server/handler}
^{:css-dirs ["resources/public/css"]
  :watch-dirs ["src" "tests"]
  ;;:extra-main-files {:tests {:main hello-world.core-tests}}
  :auto-testing true}

{:main hello-world.core
 :closure-defines {cljs-test-display.core/notifications false}}
